* {
    box-sizing: border-box}

html {}

body { 
    min-height: 98vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column
    }

.container{
    background-color:white;
    height: 700px;
    width: 700px;
    border:20px solid red;
    border-radius: 15px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    }

.row {
    display:flex;
    flex:1;
    height:100%;
    width:100%;
    flex-direction:column;
}

.column {
    display:block;
    flex:1;
    background-color:lightgray
}

.buttonDiv {text-align:center;}

.clearButton {
    text-align:center;
    font-size: 25px;
    border-radius: 15px;
    margin: 10px;}

.inputContainer {
    display:flex;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items:center;
}
#inputNumber {
    display:inline;
    margin-left: 125px;
    width: 100px;
    height: 50px;
    font-size: 40px;
    text-align:center;
    color:blue;
}

#submit {
    border-radius: 15px;
    margin: 10px;
    font-size:25px;
    text-align:center;
    display:inline;
   }

p {text-align:center;
    font-family:Arial, Helvetica, sans-serif;}